#
# This file contains default values which are used
# by the salt states deploying your project.
# you may copy them to your relevant PILLAR file
# before editing them.
# If you need to add variables, this is where to begin.
# Please keep defaults in there, but real passwords
# must be putted inside pillar
#
# replace project_name in your pillar by
# the current projectname
# you can also merge parts of this file
# with the relevant pillar
makina-projects.projectname:
  data:
    tirex_ver: 0.4.1
    modtile_ver: 0.4-12
    domain: "{fqdn}"
    style_git: https://github.com/gravitystorm/openstreetmap-carto.git
    tirex_cfgs:
      /etc/tirex/renderer/mapnik/osm.conf: {}
    doc_root: "{data_root}/www"
    apache_vhost:
      vh_content_source: "salt://makina-projects/{name}/files/in_virtualhost.conf"
      vh_top_source: "salt://makina-projects/{name}/files/top.conf"
      vhost_basename: "corpus-{name}"
      doc_root: "{doc_root}"
    db_host: localhost
    db_port: 5432
    db_password: secret
    db_name: gis
    db_user: gis
# vim:set ft=yaml:
